version: '3.8'

services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - pm_meetup_prod_db:/var/lib/mysql
    networks:
      - internal

  web:
    build: .
    command: gunicorn --bind 0.0.0.0:8000 config.wsgi:application
    env_file:
      - .env
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - logs_volume:/var/log/pm_meetup
    networks:
      - internal
    depends_on:
      - db

  front:
    build:
      context: ./frontend
      dockerfile: Dockerfile.front
    volumes:
      - static_volume:/usr/share/nginx/static
      - media_volume:/usr/share/nginx/media
    networks:
      - internal

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/usr/share/nginx/static
      - media_volume:/usr/share/nginx/media
    depends_on:
      - web
      - front
    networks:
      - internal

volumes:
  pm_meetup_prod_db:
  static_volume:
  media_volume:
  logs_volume:

networks:
  internal:
